<div class="row">
  <div class="large-12 columns">
    <h2>Edit Answer</h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="form-answer">
      <%= form_for :answer, url: question_answer_path, method: :put do |f| %>
        <% if @answer.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@answer.errors.count, "error") %> prohibited
          this answer from being saved:</h4>
          <ul>
            <% @answer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
        </p>

        <p>
          <%= f.submit "Submit Answer", :class => "[small] button" %>
        </p>
        <% end %>

      </div>

    </div>
  </div>


<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Back', questions_path, :class => "[small] button" %>
  </div>
</div>

