<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1> <%= link_to "DBC Underflow", questions_path %> </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to 'Ask Question', new_question_path %></li>
    </ul>

  </section>
</nav>



<%= render 'form' %>



<div class="row">
  <div class="large-12 columns text-center">
    <h2>Questions</h2>
  </div>
</div>

<div class="row">
  <div class="large-12 columns text-center panel" id="api-quote">
    <h4><%= ApplicationHelper::get_quote %></h4>
  </div>
</div>

<div class="row" id="question-collection">
  <div class="large-12 columns">
    <% @questions.each do |question| %>
    <div class="panel" data-question-id="<%=question.id%>">
      <h3><%= link_to "#{question.title}", question_path(question) %></h3>
      <p><span><%= question.votes %></span> votes
         <%= question.answers.count %> answers</p>
    </div>
    <% end %>
  </div>
</div>

