<div class="row">
  <div class="large-12 columns">
    <h1>DBC Underflow</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <p>
      <strong>Title:</strong>
      <%= @question.title %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @question.content %>
    </p>
      <%= link_to 'Edit', edit_question_path(@question) %>
      <%= link_to 'Delete', question_path(@question),
                            method: :delete, data: { confirm: 'Fosho?' } %>
  </div>
</div>
</br>
<div class="row">
  <div class="large-12 columns">
    <ol>
      <% @question.answers.each do |answer| %>
        <li><%= answer.content %></p></li>
      <% end %>
    </ol>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Answer', new_question_answer_path(@question), :class => "[small] button" %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Back', questions_path, :class => "[small] button" %>
  </div>
</div>


