<div class="row">
  <div class="large-12 columns">
    <h1>DBC Underflow</h1>
  </div>
</div>

<div class="row">
  <div class="large-1 columns" id="question-vote" data-vote="<%=@question.id%>">
    <span><%= @question.votes %></span>
  </div>
  <div class="large-11 columns">
    <p>
      <strong>Title:</strong>
      <%= @question.title %>
    </p>
      <%= link_to "Like", question_upvote_path(@question), method: :patch, remote: true, :class => "tiny button secondary" %>
      <%= link_to "Dislike", question_downvote_path(@question), method: :patch, remote: true, :class => "tiny button secondary" %>
      <%= link_to 'Edit', edit_question_path(@question), :class => "tiny button secondary" %>
      <%= link_to 'Delete', question_path(@question),
                            method: :delete, data: { confirm: 'Fosho?' }, :class => "tiny button secondary" %>
    <p>
      <strong>Content:</strong>
      <%= @question.content %>
    </p>

  </div>
</div>
</br>
<div class="row">
  <div class="large-12 columns">
    <ol>
      <% @question.answers.order(votes: :desc).each do |answer| %>
        <p><li><%= link_to answer.content, edit_question_answer_path(@question, answer) %></p></li>
          <div class="large-1 columns" id="answer-vote">
       <%= answer.votes %>
  </div>

      <%= link_to "Like", question_answer_upvote_path(@question, answer), method: :patch, :class => "tiny button secondary" %>
      <%= link_to "Dislike", question_answer_downvote_path(@question, answer), method: :patch, :class => "tiny button secondary" %>
      <% end %>

    </ol>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Answer', new_question_answer_path(@question), :class => "[small] button" %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Back', questions_path, :class => "[small] button" %>
  </div>
</div>


